.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  display: flex;
  background-color: #333;
  color: white;
}

.main-area {
  display: flex;
  flex-grow: 1;
}

.canvas-area {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.layers-panel {
  width: 200px;
  background-color: #444;
  color: white;
}
